<nav>
	<div id="nav-l">
	</div>
	<div id="nav-c">
		<ul id="nav-list" style="width: 700px;">
			<li id="home"><a href="{{ HOME_PATH }}">Home</a></li>
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% for node in pages_list %}
				{% if node.title != null %}
				  {% if group == null or group == node.group %}
					{% if page.url == node.url %}
					<li  id = "{{node.title}}" class="active">
					<span class="nav-l-active"></span>
					<a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a>
					<span class="nav-r-active"></span>
					</li>
					{% else %}
					<li id = "{{node.title}}"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
					{% endif %}
				  {% endif %}
				{% endif %}
			 {% endfor %}
			{% assign pages_list = nil %}
			{% assign group = nil %}
		</ul>
		<form id="nav-search" method="GET" action="{{ site.JB.search_path }}">
			<div id="search-right-pix">
				<div id="search-left-pix">
					<div id="search-center-pix">
						<div id="search-icon-pix"></div>
						<input name="query" type="text" placeholder="Search">
					</div>
				</div>
			</div>
		</form>
		
		
	</div>
	<div id="nav-r">
	</div>
</nav>