<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head>
  <meta http-equiv="content-language" content="zh-cn" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{% if page.tags %}{{ page.tags }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="keywords" content="{% if page.tags %}{% for tag in page.tags %}{{ tag }},{% endfor %}{% endif %}{{ site.keywords }}" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!--link href="/rss.xml" rel="alternate" title="{{ site.author }}" type="application/atom+xml" /-->
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/friendly.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css">
    #toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
    background-image: url('/css/up.png');
    background-repeat: no-repeat;
    opacity: 0.4;
	z-index: 999;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    }
      #toTop:hover {
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
    }
  </style>
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js" charset="utf-8"></script>
</head>
<body>
<a href="#top" id="toTop"></a>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">Mark Chen</a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		{% if page.title == "首页Home" %}<li class="active"><a href="/">首页Home</a></li>{% else %}<li><a href="/">首页Home</a></li>{% endif %}
	    {% if page.title == "日志Posts" %}<li class="active"><a href="/posts.html">日志Posts</a></li>{% else %}<li><a href="/posts.html">日志Posts</a></li>{% endif %}
	    {% if page.title == "标签云Tags" %}<li class="active"><a href="/tags.html">标签云Tags</a></li>{% else %}<li><a href="/tags.html">标签云Tags</a></li>{% endif %}
		{% if page.title == "关于我About" %}<li class="active"><a href="/about.html">关于我About</a></li>{% else %}<li><a href="/about.html">关于我About</a></li>{% endif %}
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</div>


<div class="container">
  <div class="row">
  
    <div class="col-xs-12 col-sm-8 col-md-8">
	  <div class="panel panel-default">
	    <div class="panel-body">
		{{ content }}
		</div>
	  </div>
	</div>
	
    <div class="col-xs-12 col-sm-4 col-md-4">
	  	  
	  <div class="list-group">
		<div class=list-group-item>
            <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1836017133&verifier=8266a57e&dpc=1"></iframe>
		</div>
	  </div>
	  

	  <div class="panel panel-default">
	    <div class="panel-body" style="line-height:2;">
		<p>
		<span class="label label-warning">Copyright &copy; <a href="/">Snail</a></span>
		<span class="label label-warning">Deployed on <a href="http://github.com">Github</a></span>
		<span class="label label-warning">Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a></span>
		<span class="label label-warning">Layout based on <a href="https://github.com/twitter/bootstrap">Bootstrap</a></span>
		<span class="label label-warning">Themed by<a href="http://taoxiaolei.cn/">tao</a></span>
	    <p>
		</div>
	  </div>
	  
	</div>
  </div><!-- row -->
</div>

<!-- javascript -->
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1745270" async=""></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script language="javascript">
(function($) {
    $.fn.scrollToTop = function(options) {
        var config = {
            "speed" : 800
        };

        if (options) {
            $.extend(config, {
                "speed" : options
            });
        }

        return this.each(function() {

            var $this = $(this);

            $(window).scroll(function() {
                if ($(this).scrollTop() > 100) {
                    $this.fadeIn();
                } else {
                    $this.fadeOut();
                }
            });

            $this.click(function(e) {
                e.preventDefault();
                $("body, html").animate({
                    scrollTop : 0
                }, config.speed);
            });

        });
    };
})(jQuery);

  $("#toTop").scrollToTop();
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F207dd907184dd17813b7ff8e9ddbb2bf' type='text/javascript'%3E%3C/script%3E"));
</script>


</body>
</html>
